aiofiles
aiohttp==3.9.1
asyncio==3.4.3
beautifulsoup4
dnspython
ffmpeg-python
gitpython
apscheduler
hachoir
heroku3
apscheduler
motor==3.3.2
pillow==9.5.0
psutil
wget
pytz
future==0.18.3
py-tgcalls==0.9.7
pykeyboard
pyshorteners
pyrogram
python-dotenv
pyyaml==6.0.1
requests
emojis
speedtest-cli
spotipy
tgcrypto
unidecode
yt-dlp
git+https://github.com/alexmercerind/youtube-search-python@main
git+https://github.com/joetats/youtube_search@master
