aiofiles==24.1.0
aiohttp==3.9.3
beautifulsoup4==4.12.3
heroku3==5.2.1
motor==3.5.1
Pillow==9.5.0
Pillow==10.4.0
psutil==6.0.0
py_tgcalls==1.2.9
pykeyboard==0.1.5
pymongo==4.6.3
Pyrogram==2.1.22
python-dotenv==1.0.1
PyYAML==6.0.1
PyYAML==6.0.1
Requests==2.32.3
SafoneAPI==1.0.65
SafoneAPI==1.0.65
spotipy==2.24.0
Unidecode==1.3.8
urllib3==1.26.19
youtube_search==2.1.2
youtube_search_python==1.6.6
yt_dlp==2024.8.1
